<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.incredibleindia.android.incredibleindia">

                  <application
                      android:allowBackup="true"
                      android:icon="@mipmap/ic_launcher"
                      android:label="@string/app_name"
                      android:supportsRtl="true"
                      android:theme="@style/AppTheme">
                                    <activity android:name=".MainActivity">
                                                      <intent-filter>
                                                                        <action android:name="android.intent.action.MAIN"/>

                                                                        <category android:name="android.intent.category.LAUNCHER"/>
                                                      </intent-filter>
                                    </activity>
                                    <activity
                                        android:name=".ExploreIndia"
                                        android:label="@string/things_know">
                                    </activity>
                                    <activity
                                        android:name=".Geography"
                                        android:label="@string/Geography">
                                    </activity>
                                    <activity
                                        android:name=".Area"
                                        android:label="@string/location">
                                    </activity>
                                    <activity
                                        android:name=".StatesActivity"
                                        android:label="@string/states">
                                    </activity>
                                    <activity
                                        android:name=".UtActivity"
                                        android:label="@string/ut">
                                    </activity>
                                    <activity
                                        android:name=".HistoryActivity"
                                        android:label="@string/history">
                                    </activity>
                                    <activity
                                        android:name=".NationalFlag"
                                        android:label="@string/flag">
                                    </activity>
                                    <activity
                                        android:name=".NationalAnthem"
                                        android:label="@string/national_anthem">
                                    </activity>
                                    <activity
                                        android:name=".Leaders"
                                        android:label="@string/leaders">
                                    </activity>
                                    <activity
                                        android:name=".DuringIndependence"
                                        android:label="@string/during_independence">
                                    </activity>
                                    <activity
                                        android:name=".PresentLeaders"
                                        android:label="@string/present_leaders">
                                    </activity>
                                    <activity
                                        android:name=".BhagatSingh"
                                        android:label="@string/bhagath_singh">
                                    </activity>

                                    <activity
                                        android:name=".Gandhi"
                                        android:label="@string/mahatma_gandhi">
                                    </activity>
                                    <activity
                                        android:name=".Ambedkar"
                                        android:label="@string/babasaheb_ambedkar">
                                    </activity>
                                    <activity
                                        android:name=".SardarPatel"
                                        android:label="@string/sardar_vallabhai">
                                    </activity>
                                    <activity
                                        android:name=".SubhasChandra"
                                        android:label="@string/subhas">
                                    </activity>
                                    <activity
                                        android:name=".LakshmiBai"
                                        android:label="@string/lakshmi">
                                    </activity>
                                    <activity
                                        android:name=".Nehru"
                                        android:label="@string/nehru">
                                    </activity>
                                    <activity
                                        android:name=".LalBhadur"
                                        android:label="@string/lal_bhadur">
                                    </activity>

                                    <activity
                                        android:name=".Climate"
                                        android:label="@string/climate">
                                    </activity>
                                    <activity
                                        android:name=".Summer"
                                        android:label="@string/summer">
                                    </activity>
                                    <activity
                                        android:name=".Winter"
                                        android:label="@string/winter">
                                    </activity>
                                    <activity
                                        android:name=".Monsoon"
                                        android:label="@string/monsoon">
                                    </activity>
                                    <activity
                                        android:name=".PostMonsoon"
                                        android:label="@string/post_monsoon">
                                    </activity>
                                    <activity
                                        android:name=".Modi"
                                        android:label="@string/modi">
                                    </activity>
                                    <activity
                                        android:name=".Rajnath"
                                        android:label="@string/rajnath">
                                    </activity>
                                    <activity
                                        android:name=".Sushma"
                                        android:label="@string/sushma_swaraj">
                                    </activity>
                                    <activity
                                        android:name=".Arun"
                                        android:label="@string/arun">
                                    </activity>
                                    <activity
                                        android:name=".Venkai"
                                        android:label="@string/venkai">
                                    </activity>
                                    <activity
                                        android:name=".Nitin"
                                        android:label="@string/nitin_gadkari">
                                    </activity>
                                    <activity
                                        android:name=".Smriti"
                                        android:label="@string/smriti">
                                    </activity>
                                    <activity
                                        android:name=".Hinduism"
                                        android:label="@string/hinduism">
                                    </activity>
                                    <activity
                                        android:name=".Islam"
                                        android:label="@string/islam">
                                    </activity>
                                    <activity
                                        android:name=".Christianity"
                                        android:label="@string/christianity">
                                    </activity>
                                    <activity
                                        android:name=".Buddhism"
                                        android:label="@string/buddhism">
                                    </activity>
                                    <activity
                                        android:name=".Jainism"
                                        android:label="@string/jainism">
                                    </activity>
                                    <activity
                                        android:name=".Sikhism"
                                        android:label="@string/sikhism">
                                    </activity>
                                    <activity
                                        android:name=".Religion"
                                        android:label="@string/religion">
                                    </activity>
                                    <activity
                                        android:name=".Animals"
                                        android:label="@string/animals">
                                    </activity>
                                    <activity
                                        android:name=".Elephant"
                                        android:label="@string/elephants">
                                    </activity>
                                    <activity
                                        android:name=".Tiger"
                                        android:label="@string/begal_tiger">
                                    </activity>
                                    <activity
                                        android:name=".Lion"
                                        android:label="@string/lion">
                                    </activity>
                                    <activity
                                        android:name=".Peacock"
                                        android:label="@string/peacock">
                                    </activity>
                                    <activity
                                        android:name=".Bear"
                                        android:label="@string/bear">
                                    </activity>
                                    <activity
                                        android:name=".Cobra"
                                        android:label="@string/cobra">
                                    </activity>
                                    <activity
                                        android:name=".Langur"
                                        android:label="@string/langur">
                                    </activity>
                                    <activity
                                        android:name=".Leapord"
                                        android:label="@string/leopard">
                                    </activity>
                                    <activity
                                        android:name=".Languages"
                                        android:label="@string/languages">
                                    </activity>
                                    <activity
                                        android:name=".Hindi"
                                        android:label="@string/hindi">
                                    </activity>
                                    <activity
                                        android:name=".HindiNumbers"
                                        android:label="@string/numbers">
                                    </activity>
                                    <activity
                                        android:name=".HindiColors"
                                        android:label="@string/colors">
                                    </activity>
                                    <activity
                                        android:name=".HindiFamily"
                                        android:label="@string/family_members">
                                    </activity>
                                    <activity
                                        android:name=".HindiPhrases"
                                        android:label="@string/phrases">
                                    </activity>
                                    <activity
                                        android:name=".Telugu"
                                        android:label="@string/telugu">
                                    </activity>
                                    <activity
                                        android:name=".Tamil"
                                        android:label="@string/tamil">
                                    </activity>
                                    <activity
                                        android:name=".Bengali"
                                        android:label="@string/bengali">
                                    </activity>
                                    <activity
                                        android:name=".Marathi"
                                        android:label="@string/marathi">
                                    </activity>
                                    <activity
                                        android:name=".Urdu"
                                        android:label="@string/urdu">
                                    </activity>
                                    <activity
                                        android:name=".Gujrathi"
                                        android:label="@string/gujrati">
                                    </activity>
                                    <activity
                                        android:name=".Kannada"
                                        android:label="@string/kannada">
                                    </activity>
                                    <activity
                                        android:name=".Malyalam"
                                        android:label="@string/malayalam">
                                    </activity>
                                    <activity
                                        android:name=".Odia"
                                        android:label="@string/odia">
                                    </activity>
                                    <activity
                                        android:name=".Punjabi"
                                        android:label="@string/punjabi">
                                    </activity>
                                    <activity
                                        android:name=".Assamese"
                                        android:label="@string/assamese">
                                    </activity>
                                    <activity android:name=".Food"
                                              android:label="@string/food">
                                    </activity>
                                    <activity
                                        android:name=".Biryani"
                                        android:label="@string/biryani">
                                    </activity>
                                    <activity
                                        android:name=".Dal"
                                        android:label="@string/dal">
                                    </activity>
                                    <activity
                                        android:name=".Naan"
                                        android:label="@string/naan">
                                    </activity>
                                    <activity
                                        android:name=".ButterChicken"
                                        android:label="@string/butter_chicken">
                                    </activity>
                                    <activity
                                        android:name=".TandooriChicken"
                                        android:label="@string/tandoori_chicken">
                                    </activity>
                                    <activity
                                        android:name=".Chutney"
                                        android:label="@string/chutney">
                                    </activity>
                                    <activity
                                        android:name=".Dosa"
                                        android:label="@string/dosa">
                                    </activity>
                                    <activity
                                        android:name=".ChanaMasala"
                                        android:label="@string/chana_masala">
                                    </activity>
                                    <activity
                                        android:name=".ChickenTikkaMasala"
                                        android:label="@string/chicken_tikka_masala">
                                    </activity>
                                    <activity
                                        android:name=".Samosa"
                                        android:label="@string/samosa">
                                    </activity>
                                    <activity
                                        android:name=".PaniPuri"
                                        android:label="@string/pani_puri">
                                    </activity>
                                    <activity
                                        android:name=".GulabJamun"
                                        android:label="@string/gulab_jamun">
                                    </activity>
                                    <activity
                                        android:name=".Entertainment"
                                        android:label="@string/entertainemt">
                                    </activity>
                                    <activity
                                        android:name=".Music"
                                        android:label="@string/music">
                                    </activity>
                                    <activity
                                        android:name=".Dance"
                                        android:label="@string/dance">
                                    </activity>
                                    <activity
                                        android:name=".Cinema"
                                        android:label="@string/cinema">
                                    </activity>
                                    <activity
                                        android:name=".ArRehman"
                                        android:label="@string/ar_reheman">
                                    </activity>
                                    <activity
                                        android:name=".LataMangeshkar"
                                        android:label="@string/lata_mangeskar">
                                    </activity>
                                    <activity
                                        android:name=".RdBurmun"
                                        android:label="@string/rdburmun">
                                    </activity>
                                    <activity
                                        android:name=".Ilyaraja"
                                        android:label="@string/ilyaraja">
                                    </activity>
                                    <activity
                                        android:name=".Yoga"
                                        android:label="@string/yoga">
                                    </activity>


                  </application>

</manifest>